<h1>
    <%=heading%>
</h1>
<%= messages.error ? messages.error : ''%>
    <form action="/login" method="POST">
        <div>
            <label for="form__username">Enter Username</label>
            <input type="text" placeholder="username" id="form__username" name="username">
        </div>
        <div>
            <label for="form__password">Enter Your Password</label>
            <input type="password" placeholder="password" id="form__password" name="password">
        </div>
        <div>
            <input type="submit" name="form__login_submit">
        </div>
    </form>